<!-- <app-diretivas-ng-if></app-diretivas-ng-if>
<app-ng-switch></app-ng-switch>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Sass
            </li>
            <li>Components
            </li>
            <li>JavaScript
            </li>
        </ul>
    </div>
</nav>


<a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons" (click)="apertaBotao()">add</i></a>

<app-ng-styles>Conteudo aqui</app-ng-styles>

<p>Descrição: {{ tarefa.descricao}}</p>
<p>responsavel: {{ tarefa.responsavel != null ? tarefa.responsavel.nome: ''}}</p>
<p>responsavel: {{ tarefa.responsavel?.nome}}</p>

<app-diretivas-customizadas></app-diretivas-customizadas> -->
<!-- 
<app-servicos></app-servicos>

<app-criar-curso></app-criar-curso> -->

<app-pipe-test></app-pipe-test>