<!-- <p>ng-styles works!</p>

<button [style.backgroundColor]="ativo ? 'blue': 'gray'" [style.color]="ativo ? 'white': 'black'" [style.fontWeight]="ativo ? 'bold': 'normal'" [style.fontSize]="tamanhoFonte + 'px'" (click)="onClick()">
Mudar Atributo
</button>
<div>
    <input type="text" [(ngModel)]="tamanhoFonte" style="width: 50px;"></div> -->

<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        <ng-content></ng-content>
    </div>
</div>